/*negative margin  */

body{
  padding: 20px;
  background: rgb(210, 207, 207);
  width: 800px;
  height: 500px;
}
.layer{
  width: 250px;
  height: 300px;
  background: rgb(5, 23, 161,0.60);
}
.layer1{
  top: 0;
  left: 0;
}
.layer2{
  margin-left: 70px ;
  margin-top: -240px;
}

.layer3{
  margin-left: 140px ;
  margin-top: -230px;
}