<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>s10</servlet-name>
        <servlet-class>com.vp.Servlet10</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s10</servlet-name>
        <url-pattern>/servlet10</url-pattern>

    </servlet-mapping>
</web-app>